body {
  background-color:#D47763;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;




}
p{color: #ffffff}

h1{color: #C71D0A; background-color: #ECCECB; padding: 50px; text-align: center; margin: 50px 0 50px 0;}

a{color: #D4C563; text-decoration: none;}
a:hover {color:#8A7B07;}


.videoPageColor {background-color:#ECCECB}


.videoHeadline {color: #C71D0A}








.relatedInfo {border: solid 1px #C71D0A; padding: 20px; background-color: #D4C563; width: 50%;}